{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Creer') }}</button>
    
{{ form_end(form) }} #}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card mt-5 mb-5">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4"></h1>
                    {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
                    
                    {% for field in form %}
                        <div class="mb-3">
                            {{ form_label(field, null, {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(field, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(field) }}
                        </div>
                    {% endfor %}
                    
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">{{ button_label|default('Créer') }}</button>
                    </div>
                    
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}