{% extends 'base.html.twig' %}

{% block title %}Annonce index
{% endblock %}

{% block body %}
	<h1>Annonce index</h1>

		{% for annonce in annonces %}
			<div class="card mb-3 " style="max-width: 540px;">
				<div class="row g-0 ">
					<div class="col-md-4">
						<img src="{{ vich_uploader_asset(annonce , 'imageFile') }}" class="img-fluid rounded-start" alt="{{ annonce.titre }}">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">{{ annonce.titre }}</h5>
							<p class="card-text">{{ annonce.description }}</p>
							<p class="card-text">
								<small class="text-body-secondary">
									Réception :
									{{ annonce.dateReception ? annonce.dateReception|date('d-m-Y') : 'Non spécifiée' }}
									- 
									                                Livraison :
									{{ annonce.dateLivraison ? annonce.dateLivraison|date('d-m-Y') : 'Non spécifiée' }}
								</small>
							</p>
							<p class="card-text">
								<small class="text-body-secondary">
									De :
									{{ annonce.adresseReception }}
									-
									                                À :
									{{ annonce.adresseLivraison }}
								</small>
							</p>
							
							<a href="{{ path('app_annonce_show', {'id': annonce.id}) }}" class="btn btn-primary btn-sm">Voir</a>
							{% if is_granted('ROLE_SUPER_ADMIN' or app.user == annonce.user) %}
							<a href="{{ path('app_annonce_edit', {'id': annonce.id}) }}" class="btn btn-secondary btn-sm">Modifier</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
	{% else %}
		<p>Pas d'annonce disponible</p>
	{% endfor %}

	<a href="{{ path('app_annonce_new') }}" class="btn btn-success">Créer une nouvelle annonce</a>
{% endblock %}
