{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	Accueil
{% endblock %}

{% block body %}
	<main>
		<section class="section-video">
			<div class="section-video-content">
				<h1>Trouvez un transporteur à coté de chez vous</h1>
				<h2 class="text-white fw-semibold fs-3">
					Vous souhaitez expediez des meubles, une table ou meme un véhicule nous avons la solution pour vous
				</h2>
			</div>
			<div>
				<video class="section-video-video" autoplay loop muted>
					<source src={{asset("assets/video/5200378-uhd_3840_2160_30fps.mp4")}} type="video/mp4"/>
				</video>
			</div>
		</section>

		<section class="hero-section">
			<div>
				<figure>
					<img src={{asset("assets/img/newcanape.jpg")}} alt=""/>
				</figure>
				<article>
					<h1>C'est si simple
					</h1>
					<h2 class="text-center ">Expédiez vos colis dans toute la France .</h2>
					<h2 class="text-center ">La solution pour vos envoi en toute sérénité</h2>
				</article>
				<figure><img src={{asset('assets/img/pexels-lemonzandtea-1422286.jpg')}} alt=""/></figure>
			</div>

			<div class="blue-section">
				<article>
					<h3>Deposez votre annonce</h3>
					<p>En quelques clics . Remplissez un formulaire detaillé sur le produit que vous souhaitez envoyer et votre
																																																            annonce est en ligne
					</p>
					<button type='submit' class='btn btn-primary'>Envoyer un produit</button>
				</article>

				<article>
					<h3>Nos transporteur repondent à votre offres</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dolore debitis ab rem odit. Expedita
																																																            aliquid nulla esse, id dignissimos reprehenderit minima doloremque dolor voluptatem fuga deleniti similique,
																																																            quidem consequuntur?</p>
					<button type='submit' class='btn btn-primary'>En savoir plus</button>
				</article>

				<article>
					<h3>Suivez votre livraison</h3>
					<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem sit dolorem ut quisquam nisi commodi,
																																																            deleniti modi sapiente optio neque porro, eum aperiam necessitatibus, delectus assumenda veritatis itaque
																																																            recusandae in?</p>
					<button type='submit' class='btn btn-primary'>En savoir plus

					</button>
				</article>
			</div>
		</section>

		<section class="first-section">
			<figure class="first-section-figure">
				<img src={{asset("assets/img/picture-first-section.jpg")}} alt=""/>
			</figure>

			<article class="first-section-article">
				<h2>Déposez vos annonces</h2>
				<ul>
					<li>Inscrivez-vous</li>
					<li>Remplissez le formulaire</li>
					<li>Votre annonce est disponible</li>
				</ul>
			</article>
		</section>

		<section class="first-section">
			<article class="first-section-article">
				<h2>Un Transporteur postule</h2>
				<ul>
					<li>Naviguez entre les annonces</li>
					<li>Trouvez l'annonce qui vous convient</li>
					<li>Postulez à l'annonce</li>
					<li>L'expéditeur reçoit votre proposition</li>
				</ul>
			</article>

			<figure class="first-section-figure">
				<img src={{asset("assets/img/livreur_carton.jpg")}} alt="chauffeur livreur"/>
			</figure>
		</section>

		<section class="second-section overflow-hidden d-flex justify-content-around align-items-center flex-wrap">
			{% for annonce in annonces|slice(0,3) %}
				<div class='d-inline-flex overflow-hidden'>
					<div class="card" style="width: 25vw;">
						<img src={{ vich_uploader_asset(annonce , 'imageFile') }} class="card-img-top height-img " alt="Image de l'annonce">
						<div class="card-body">
							<h5 class="card-title">{{annonce.titre}}</h5>
							<p class="card-text">{{annonce.description}}</p>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">{{annonce.dateReception ? annonce.dateReception|date('d-m-Y') : 'Non spécifiée' }}</li>
							<li class="list-group-item">{{annonce.dateLivraison ? annonce.dateLivraison|date('d-m-Y') : 'Non spécifiée' }}</li>
							<li class="list-group-item">De :
								{{annonce.adresseReception}}</li>
							<li class="list-group-item">A :
								{{annonce.adresseLivraison}}</li>

						</ul>
						<div class="card-body">
							<a href="#" class="card-link">Voir l'annonce</a>
							<a href="#" class="card-link">Postuler</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</section>

		<section class="third-section overflow-hidden">
			<div id="carouselExampleAutoplaying" class="carousel slide overflow-hidden" data-bs-ride="carousel">
				<div class="carousel-inner">

					<div class="carousel-item active">
						<div class="card text-bg-dark">
							<img src={{asset("assets/img/caroussel_ecolo.jpg")}} class="card-img" alt="...">
							<div class="card-img-overlay">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
								<p class="card-text">
									<small>Last updated 3 mins ago</small>
								</p>
							</div>
						</div> 
					</div>
					<div class="carousel-item">
						<div class="card text-bg-dark">
							<img src={{asset("assets/img/caroussel_tirelire.jpg")}} class="card-img" alt="...">
							<div class="card-img-overlay">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
								<p class="card-text">
									<small>Last updated 3 mins ago</small>
								</p>
							</div>
						</div>
					</div>
					<div class="carousel-item">

						<div class="card text-bg-dark">
							<img src={{asset("assets/img/caroussel_route.jpg")}} class="card-img" alt="...">
							<div class="card-img-overlay">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
								<p class="card-text">
									<small>Last updated 3 mins ago</small>
								</p>
							</div>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</section>

		<section class="four-section d-flex flex-column justify-content-center align-items-center bg-primary overflow-hidden">
			<div class='h-80 w-75 m-auto'>
				<div class="card rounded-5 bg-dark">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="card-link">Card link</a>
						<a href="#" class="card-link">Another link</a>
					</div>
				</div>
			</div>
			<div class='h-80 w-75 m-auto'>
				<div class="card rounded-5 bg-dark">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="card-link">Card link</a>
						<a href="#" class="card-link">Another link</a>
					</div>
				</div>
			</div>
			<div class='h-80 w-75 m-auto'>
				<div class="card rounded-5 bg-dark">
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="card-link">Card link</a>
						<a href="#" class="card-link">Another link</a>
					</div>
				</div>
			</div>
		</section>

	</main>
{% endblock %}
