{% extends 'base.html.twig' %}

{% block title %}
{{parent()}}
Accueil
{% endblock %}

{% block body %}
 <main>
    <section class="section-video">
      <div class="section-video-content">
        <h1>Trouvez un transporteur à coté de chez vous</h1>
        <h2>
          Vous souhaitez expediez des meubles, une table ou meme un véhicule
          nous avons la solution pour vous
        </h2>
      </div>
      <div>
        <video class="section-video-video" autoplay loop muted>
          <source src={{asset("assets/video/5200378-uhd_3840_2160_30fps.mp4")}} type="video/mp4" />
        </video>
      </div>
    </section>

    <section class="hero-section">
      <div>
        <figure>
          <img src={{asset("assets/img/newcanape.jpg")}} alt="" />
        </figure>
        <article>
          <h1>C'est si simple </h1>
          <h2>lorem</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat
          </p>
        </article>
        <figure><img src={{asset('assets/img/pexels-lemonzandtea-1422286.jpg')}} alt="" /></figure>
      </div>

      <div class="blue-section">
        <article>
          <h3>Deposez votre annonce</h3>
          <p>En quelques clics . Remplissez un formulaire detaillé sur le produit que vous souhaitez envoyer et votre
            annonce est en ligne </p>
          <button>Envoyer un produit</button>
        </article>

        <article>
          <h3>Nos transporteur repondent à votre offres</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dolore debitis ab rem odit. Expedita
            aliquid nulla esse, id dignissimos reprehenderit minima doloremque dolor voluptatem fuga deleniti similique,
            quidem consequuntur?</p>
          <button>En savoir plus</button>
        </article>

        <article>
          <h3>Suivez votre livraison</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem sit dolorem ut quisquam nisi commodi,
            deleniti modi sapiente optio neque porro, eum aperiam necessitatibus, delectus assumenda veritatis itaque
            recusandae in?</p>
          <button>en savoir plus

          </button>
        </article>
      </div>
    </section>

    <section class="first-section">
      <figure class="first-section-figure">
        <img src={{asset("assets/img/picture-first-section.jpg")}} alt="" />
      </figure>

      <article class="first-section-article">
        <h2>Déposez vos annonces</h2>
        <p>
          Simple et Rapide , en moin de 3 minutes votre offres et en ligne
        </p>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </article>
    </section>

    <section class="first-section">
      <article class="first-section-article">
        <h2>Un Transporteur postule</h2>
        <p>
          Simple et Rapide , en moin de 3 minutes votre offres et en ligne
        </p>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </article>

      <figure class="first-section-figure">
        <img src={{asset("assets/img/pexels-tima-miroshnichenko-6170398 (1).jpg")}} alt="" />
      </figure>
    </section>

    <section class="second-section">

      <div>
        <article>
          <figure>
            <img src={{asset("assets/img/secondesectionfauteuil.jpg")}} alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, sunt consectetur quam dolorem dolore
              nostrum fugit veniam reiciendis eveniet libero veritatis, quae atque consequatur? Quis molestias assumenda
              magnam mollitia sequi.</p>
          </figure>
        </article>
        <article>
          <figure>
            <img src={{asset("assets/img/secondesectionfauteuil.jpg")}} alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ratione ut itaque amet inventore,
              quo voluptatem excepturi eaque commodi dolorem esse odio illum eligendi placeat dolore voluptate? Non,
              sunt
              ad.</p>
          </figure>
        </article>
        <article>
          <figure>
            <img src={{asset("assets/img/secondesectionfauteuil.jpg")}} alt="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga magnam aliquid provident, facilis dolor
              accusamus ullam quod quis maiores accusantium in inventore mollitia suscipit quia nisi sed. Magnam, omnis
              dignissimos.</p>
          </figure>
        </article>
      </div>
      <div>
        <article>
          <figure>
            <img src={{asset("assets/img/secondesectionfauteuil.jpg")}} alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque odio, doloremque molestiae similique
              quod nihil provident aspernatur rerum commodi dolorem cum error doloribus optio deserunt? Et totam
              repudiandae eos provident!</p>
          </figure>
        </article>
        <article>
          <figure>
            <img src={{asset("assets/img/secondesectionfauteuil.jpg")}} alt="">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit maxime illo eum earum voluptatum
              dolores quos nobis! Expedita consequuntur nulla neque consequatur. Molestiae dolore excepturi corporis
              aperiam fugit tempore quae.</p>
          </figure>
        </article>
        <article>
          <figure>
            <img src={{asset("assets/img/secondesectionfauteuil.jpg")}} alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi hic voluptatem error doloremque earum
              repellendus deserunt quaerat officia dolorum omnis veniam, dolor veritatis quis libero modi neque cum quo
              dolore.</p>
          </figure>
        </article>
      </div>

    </section>

    <section class="third-section"></section>

    <section class="four-section"></section>

    <section class="five-section"></section>



  </main>

  <footer></footer>
</body>

</html>
{% endblock %}
