{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}
	Accueil
{% endblock %}

{% block body %}
	<main>
		<section class="section-video">
			<div class="section-video-content">
				<h1>Trouvez un transporteur à coté de chez vous</h1>
				<h2 class="text-white fw-semibold fs-3">
					Vous souhaitez expediez des meubles, une table ou meme un véhicule nous avons la solution pour vous
				</h2>
			</div>
			<div>
				<video class="section-video-video" autoplay loop muted>
					<source src={{asset("assets/video/5200378-uhd_3840_2160_30fps.mp4")}} type="video/mp4"/>
				</video>
			</div>
		</section>

		<section class="hero-section">
			<div>
				<figure>
					<img src={{asset("assets/img/newcanape.jpg")}} alt=""/>
				</figure>
				<article>
					<h1>C'est si simple
					</h1>
					<h3 class="text-center">Expédiez vos colis dans toute la France .</h3>
					<h3 class="text-center ">La solution pour vos envoi en toute sérénité</h3>
				</article>
				<figure><img src={{asset('assets/img/pexels-lemonzandtea-1422286.jpg')}} alt=""/></figure>
			</div>

			<div class="blue-section">
				<article>
					<h3>Deposez votre annonce</h3>
					<p>En quelques clics .<br> Remplissez un formulaire detaillé sur le produit  <br>Votre annonce est en ligne</p>
					<button type='submit' class='btn btn-primary'>Envoyer un produit</button>
				</article>

				<article>
					<h3>Vous êtes transporteur</h3>
					<p>Naviguez entre les annonces <br>Trouvez une opportunité <br>Saisissez la ! </p>
					<button type='submit' class='btn btn-primary'>En savoir plus</button>
				</article>

				<article>
					<h3>Suivez votre livraison</h3>
					<p>Bientôt sur ENVOI-TOUT  <br>Suivez vos livraison en temps réel <br>Restez connecté en direct avec votre transporteur</p>
					<button type='submit' class='btn btn-primary'>En savoir plus
					</button>
				</article>
			</div>
		</section>

		<section class="first-section">
			<figure class="first-section-figure">
				<img src={{asset("assets/img/picture-first-section.jpg")}} alt=""/>
			</figure>

			<article class="first-section-article">
				<h1>Déposez vos annonces</h1>
				<ul>
					<li><h3>Inscrivez-vous</h3></li>
					<li><h3>Remplissez le formulaire</h3></li>
					<li><h3>Votre annonce est disponible</h3></li>
				</ul>
			</article>
		</section>

		<section class="first-section">
			<article class="first-section-article">
				<h1>Un Transporteur postule</h1>
				<ul>
					<li><h3>Naviguez entre les annonces</h3></li>
					<li><h3>Trouvez l'annonce qui vous convient</h3></li>
					<li><h3>Postulez à l'annonce</h3></li>
					<li><h3>L'expéditeur reçoit votre proposition</h3></li>
				</ul>
			</article>

			<figure class="first-section-figure">
				<img src={{asset("assets/img/livreur_carton.jpg")}} alt="chauffeur livreur"/>
			</figure>
		</section>

		<section class="second-section overflow-hidden d-flex justify-content-around align-items-center flex-wrap">
			{% for annonce in annonces|slice(0,3) %}
				<div class='d-inline-flex overflow-hidden' >
					<div class="card h-100" style="width: 25vw;">
						<img src={{ vich_uploader_asset(annonce , 'imageFile') }} class="card-img-top height-img " alt="Image de l'annonce">
						<div class="card-body">
							<h5 class="card-title">{{annonce.titre}}</h5>
							<p class="card-text">{{annonce.description}}</p>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">{{annonce.dateReception ? annonce.dateReception|date('d-m-Y') : 'Non spécifiée' }}</li>
							<li class="list-group-item">{{annonce.dateLivraison ? annonce.dateLivraison|date('d-m-Y') : 'Non spécifiée' }}</li>
							<li class="list-group-item">De :
								{{annonce.adresseReception}}</li>
							<li class="list-group-item">A :
								{{annonce.adresseLivraison}}</li>

						</ul>
						<div class="card-body">
							<a href={{path('app_annonce_show' , {'slug':annonce.slug})}} class="card-link">Voir l'annonce</a>
							<a href="#" class="card-link">Postuler</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</section>
		<section class="four-section d-flex flex-column justify-content-center align-items-center overflow-hidden">
			<div class='h-80 w-75 m-auto'>
				<div class="card rounded-5 bg-dark">
					<div class="card-body overflow-hidden">
						<h5 class="card-title text-white text-center">Vous souhaitez plannifier des livraisons récurrrente c'est bientot disponible</h5>
					</div>
				</div>
			</div>
			<div class='h-80 w-75 m-auto'>
				<div class="card rounded-5 bg-dark">
					<div class="card-body overflow-hidden">
						<h5 class="card-title text-white text-center">Le colis que vous souhaitez expédiez nécessite un transporteur particulier ? </h5>
					</div>
				</div>
			</div>
			<div class='h-80 w-75 m-auto'>
				<div class="card rounded-5 bg-dark">
					<div class="card-body overflow-hidden">
						<h5 class="card-title text-white text-center">Souscrivez à une assurance pour être serein en cas de problème </h5>
					</div>
				</div>
			</div>
		</section>

	</main>
{% endblock %}
{# class='d-inline-flex overflow-hidden' #}