{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	Support
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row vh-100">
			<div class="col-md-6 d-flex flex-column justify-content-center">
				<h1 class="mb-4 font-weight-bold text-primary text-center" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">
    Contactez-nous
</h1>

				{% for message in app.flashes('success') %}
					<div class="alert alert-success">
						{{ message }}
					</div>
				{% endfor %}

				{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
				<div class="mb-3">
					{{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="mb-3">
					{{ form_row(form.firstName, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="mb-3">
					{{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="mb-3">
					{{ form_row(form.objet, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="mb-3">
					{{ form_row(form.message, {'attr': {'class': 'form-control'}}) }}
				</div>

				<button type="submit" class="btn btn-primary btn-lg w-100">Envoyer</button>
				{{ form_end(form) }}
			</div>
			<div class="col-md-6 d-flex justify-content-center align-items-center p-4">
				<img src="{{ asset('assets/img/img_support.jpg') }}" alt="Image de support" class="img-fluid rounded shadow" style="max-width: 80%; max-height: 80vh; object-fit: cover;">
			</div>
		</div>
	</div>
{% endblock %}


{# {% extends "base.html.twig" %}

{% block title %}
{{parent()}}
Support
{% endblock %}

{% block body %}
<h1>Support , contactez nous </h1>

{% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.email) }}
        {{ form_row(form.objet) }}
        {{ form_row(form.message) }}

        <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}  #}
